<% content_for(:title) { "Add New Client" } %>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Add New Client</h1>

        <%= render "form", client: @client %>

        <div class="mt-3">
          <%= link_to "Back to dashboard", root_path, class: "link-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
